# Mac OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

#Ipython Notebook
.ipynb_checkpoints

# data files
cifar-10-python.tar.gz
preprocess_batch_1.p
preprocess_batch_2.p
preprocess_batch_3.p
preprocess_batch_4.p
preprocess_batch_5.p
preprocess_training.p
preprocess_validation.p

cifar-10-batches-py